vendors = webkit moz o official

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  -o-border-radius n
  border-radius n

transition(n)
  -webkit-transition n
  -moz-transition n
  -o-transition n
  transition n

animation(n)
  -webkit-animation n
  -moz-animation n
  -o-animation n
  animation n

@keyframes is-fade-in
  0%
    opacity 0
  100%
    opacity 1
