.uk-navbar
  background-color transparent
  ul
    li a
      color white
      &.call-to-action
        font-size .75em
        letter-spacing 2.5px
        font-weight 300
        background rgba(0, 0, 0, .25)
        border-radius(3px)
        color rgba(255,255,255,.95)
        text-transform uppercase
        &:hover
          background rgba(0, 0, 0, .5)
.uk-navbar-brand
  color rgba(255,255,255,.95)
  font-weight 300
  text-transform uppercase
  letter-spacing 5px
  padding-left 0
  &:hover
    color rgba(255,255,255,.75)
