/**
 * Basically Stylus is just like any other css pre-compiler without the braces and everything else, I just prefer them, because it looks clean as hell.
 */

html
  font-size 14px
  font-family 'Open Sans'

body
  background white
  width 100%

@import '_overrides'
@import '_light-theme'
