/**
 * Basically Stylus is just like any other css pre-compiler without the braces and everything else, I just prefer them, because it looks clean as hell.
 */

body
  background white
  width 100%

@import '_overrides'

